<div class="container">
	<div class="row">
		<h1>My Parties <a class="btn btn-default" href="/parties/new" role="button">New event</a></h1>
		<form method="GET" action="/search">
			<label>Search</label>
			<input name="name">
		</form>

	</div>
	
	<div class="row">
		<div class="col-md-8">
			<div class = "all_parties">
				<ul class="list-group">
					<% @parties.each do |party| %>
						<li class="list-group-item">
							<ul>
								<li><label>Name:</label><%= party.name %></li>
								<li><label>Address:</label><%= party.adress %></li>
								<li><label>Coordinates:</label><%= party.coordinates %></li>
								<li><label>Details:</label><%= party.date_time %></li>
								<a href ="/parties/<%= party.id %>"><span class="badge">Details</span></a>
								<a href ="/parties/<%= party.id %>/edit"><span class="badge">Edit</span></a>
								<a href ="/parties/<%= party.id %>/remove"><span class="badge">Remove</span></a>
							</ul>						
						</li>					
					<% end %>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<p><a class="btn btn-default btn-lg" href="/parties?order=asc" role="button">
				<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
			</a></p>
			<p><a class="btn btn-default btn-lg" href="/parties?order=desc" role="button">
				<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</a></p>			
		</div>
	</div>
</div>



