<h1>Party view</h1>
<div class="party-status">
	<ul>
		<li><a href="/parties/<%= @party.id %>/edit">Edit</a></li>
		<li>"Name: "<%= @party.name %></li>
		<li>"Address: "<%= @party.adress %></li>
		<li>"Location: "<%= @party.coordinates %></li>
		<li>"Date: "<%= @party.date_time %></li>
	</ul>
</div>